<script>
	$(document).ready(function() {
		var config = {    
		     over: makeTall, // function = onMouseOver callback (REQUIRED)    
		     timeout: 100, // number = milliseconds delay before onMouseOut    
		     out: makeShort // function = onMouseOut callback (REQUIRED)    
		};

		function makeTall(){
			$(this).children().addClass("flipped");
		}
		
		function makeShort(){
			$(this).children().removeClass("flipped");
			
		}
		$(".cardWrap").hoverIntent(config)

	});
</script>

	<div class="headline"><h1>Strava, bolje od žvake.</h1></div>
		
	<div id="profiles">
	<% @users.each do |vastroman| %>
	
		<section class="container">
			<div class="cardWrap">
		    <div class="card">
		      <figure class="front">
			  		<img src="<%= image_tag @vastroman.avatar.url %>" alt="" />
		      </figure>
		      <figure class="back">
					<a href="<%= vastroman.url %>" onclick="likeThis(<?php echo $postid; ?>, 0, 0);" target="_blank"><div class="info">
						<h1><%= vastroman.name %> <%= vastroman.surname %></h1>
						<hr />
						<ul>
							<li>category1</li>
							<li>category2</li>
							<li>category3</li>
						</ul>
						<hr class="second" />
						<ul>
							<li><%= vastroman.city.name %></li>
						</ul>
					</div>
					<div class="vastrodex"><%= vastroman.vastrodex %></div>
					</a>
			  </figure>
		    </div>
			</div><!--end cardWrap-->
		</section>
		<% end %>
		<div class="clearfix"></div>
	</div><!--end profiles-->