<div class="headline"><h1>Strava ljudi + Stvari koje rade</h1></div>
<ul id='categories'>
	<% counter = 0 %>
	<% @categoriesWithVastomens.each do |i| %>
		<li class="singleCategory <% if counter%4 %> no-margin <% end %>" >
			<a href="/category/<%= i.name %>"><div class="info">
				<h1><%= i.name %></h1>
				<hr />
				<h2><%= i.vastromens.count %></h2>
			</div></a>
		</li>
	<% end %>
				

</ul>
<div class="clearfix"></div>
<!--End of Profiles-->

<%= @categoriesWithVastomens %>



<?php if($counter%4 == 0){ echo 'no-margin';}?>