@charset "UTF-8";
/* CSS Document */

body {
		width:100%;
		height:100%;
		background-color:#FFF;
		font-family: Arial, sans-serif;
		-webkit-font-smoothing: subpixel-antialiased !important;
}

label {
}

.wpcf7-form p {
	position: relative;
}

#wrapper {
		width:998px;
		margin:0 auto;
}

.wpcf7-file{
	width: 200px;
}

/*.wpcf7-file input{
	size:15;
}*/

#new_vastromen{
	padding: 100px 0;
}


.clearfix{
	clear: both;
}

@font-face {
    	font-family:'N', sans-serif;
    	src: url('font/helveticaneue.eot');
    	src: url('font/helveticaneue.eot?#iefix') format('embedded-opentype'),
         	 url('font/helveticaneue.woff') format('woff'),
         	 url('font/helveticaneue.ttf') format('truetype'),
         	 url('font/helveticaneue.svg#helveticaneue') format('svg');
    	text-rendering: optimizelegibility;
    	font-weight: normal;
    	font-style: normal;
}

h1 {
		font-family:'N', sans-serif;
		font-size:60px;
		font-weight:bold;
		letter-spacing:0.02em;
		word-spacing:0.1em;
		color:#111;
}

h2 {	font-size:18px;
		font-weight:bold;
}

p {		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 20px;
		line-break: inherit;
}

#content{
	margin-top: 66px;
	margin-bottom: 100px;
	position: relative;
}

#content h2{
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}

/* header */

#nav {
		width:998px;
		height:66px;
		top:0;
}

a.logo{
		width:200px;
		height:46px;
		background-color:#61db44;
		float:left;
		position:relative;
		padding-top: 20px;
		text-align: center;
}


ul.dropdown                         { width:200px; position: relative; margin-left: 66px; float:left; z-index: 100;}
ul.dropdown li                      { font-weight: bold; text-decoration: none; float: left; zoom: 1; background: #EBEBEB; width: 200px;}
ul.dropdown a:active                { color: #a3a3a3; }
ul.dropdown li a                    { display: block; font-weight: bold; border-right: 1px solid #333; color: #A3A3A3; line-height: 63px;
									text-align: left; padding:2px 0 0 13px; text-decoration: none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.borderbottom						{border-bottom:1px solid #ddd; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.borderbottom img					{float:right; margin:33px 13px 0 0; opacity:0.3;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover                { background-color: #EBEBEB !important; position: relative; color: #EBEBEB !important; }

ul.dropdown ul 						{ width: 200px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; float: none; border-bottom:1px solid #ddd;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: 0px; width: 100%; display: inline-block; }



a.vastrogram{
		width:200px;
		height:66px;
		background-color:#fff;
		
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border-right:1px solid #61db44;
		border-bottom:1px solid #61db44;
		border-left:1px solid #61db44;
		
		padding-top:24px;
		float:left;
		margin-left:66px;
		font-size: 18px;
		font-weight: bold;
		text-align:center;
		text-decoration: none;
		color:#61db44;
		position:relative;
}

a.plus{
		width:66px;
		height:66px;
		background-color:#fd5260;
		float:right;
		position:relative;

}	
	#plusv {
		width:34px;
		height:8px;
		background-color:#fff;
		margin:29px 0 0 16px;
		position:absolute;
	}
	
	#plusu {
		width:8px;
		height:34px;
		background-color:#fff;
		margin:16px 0 0 29px;
		position:absolute;
		z-index:50;
	}
	
.headline {
		width:998px;
		height:52px;
		margin-top:66px;
		text-align:center;
}


img.center {   
		display:block;   
		margin-left:auto;   
		margin-right:auto; 
}
/* end of header */


/* profiles */

#profiles{
	margin-top: 66px;
	width: 998px;
}


.info {
		width:186px;
		height:190px;
		float:right;
		margin-top: 8px;
		clear: both;
}

.info h1 {
		font-size:18px;
		font-weight:bold;
		line-height: 22px;
		color:#111;
}

.info h2 {
		font-size: 60px;
		font-weight: bold;
		color: #111;
		display:block;
		margin: 40px 10px 0 0; 
		clear: both;
		text-align: center;
}

.info ul {
		clear: both;

}

.info li {
		font-size:12px;
		line-height: 24px;
		color:#111;
}

.info hr {
		color: #ddd;
		background: #ddd;
		border: 0;
		height: 1px;
		width: 66px;
		float: left;
		margin: 15px 0 10px 0;
}

.info hr.second {
		color: #ddd;
		background: #ddd;
		border: 0;
		height: 1px;
		width: 66px;
		float: left;
		margin: 8px 0 8px 0;
}


/* OVO MI JE SUMNJIVO, MOZDA TREBA NESTO DA SE FIKSA */
.vastrodex {
		width: 66px;
		height: 66px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		border:1px solid #ddd;
		z-index: 500;
		text-align: center;
		padding-top: 22px;
		font-size:18px;
		font-weight:bold;
		color:#111;
		
		position: absolute;
		margin: 133px 0 0 133px;
}
/* profiles end */

/* footer */

#footer {
		width:998px;
		height:66px;
		margin: 0 auto;
		position: fixed;
		bottom: 0;
}

.vastrogramSign a{
	display: block;
	width: 66px;
	height: 66px;
	margin: 130px 0 0 0;
}

.vastrogramSign a:hover{
	background: none !important;
}

a.yellow{
		width:200px;
	   	height:42px;
	   	background-color:#ffdc45;
	   	float:left;
	   	font-size: 18px;
	   	text-decoration: none;
	   	font-weight: bold;
	   	color: #111;
		text-align:center;
		padding-top:24px;
		position:relative;
}
/* footer end */

/* SUBMISSION */


.submissionwrap {
		width:998px;
		margin-top:66px;
}

.submissionwrap ul li {
		list-style: square;
}

.submissionwrap li {
		display: list-item;
		text-align: -webkit-match-parent;
		font-size:12px;
		line-height:18px;
}

#fotkawrap{
	width: 210px;
	height: 200px;
	float: left;
}
input[type="text"], textarea
{
    	font-family: Arial, Sans-Serif;
    	font-size: 18px;
    	font-weight: bold;
    	display: block;
    	padding:12px 13px 12px 11px !important;
    	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
    	border: solid 1px #ddd;
    	color: #111;
    	height:40px;
}

input:focus {
      	border:solid 1px #111;
}

.inputshort, .inputshort2nd{
		width:200px;
		margin-bottom: 66px !important;

}

		


.shortInput, .shortInput input{
	width: 200px;
	float: left;
	margin-right: 66px;
}

.no-margin-right{
	margin: none !important;
}

.bigInput, .bigInput input{
	width: 732px;
}
.inputshort2nd{ 
		margin-left:66px;
		float:left;
}
.ime {
	width: 200px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 130px;
	display: block;
}
.prezime {
	width: 200px;
	height: 40px;
	position: absolute;
	left: 275px;
	top: 130px;
	display: block;
}

.grad {
	width: 200px;
	height: 40px;
	position: absolute;
	left: 532px;
	top: 130px;
	display: block;
}
.link {
	width:732px;
	position: absolute;
	top: 250px;
	left: 0;
}
.email {
	width:732px;
	position: absolute;
	top: 365px;
	left: 0;
}
.slika {
	position: absolute;
	top: 420px;
	left: 0;
}
.wpcf7-submit {
	position: absolute;
	left: -30px;
	width: 200px;
	height: 66px;
	background-color: #61DB44;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	border: none;
	margin-bottom: 20px;
}

.wpcf7-mail-sent-ok{
	color: green;
}

.wpcf7-response-output{
	clear: both;
	padding-top: 20px;
}

.wpcf7-validation-errors, .wpcf7-not-valid-tip-no-ajax{
	color: red;
}
.inputlong {
		width:732px;
		
}

a.yellowsmall{
		width:200px;
	   	height:28px;
	   	background-color:#ffdc45;
	   	float:left;
	   	font-size: 18px;
	   	text-decoration: none;
	   	font-weight: bold;
	   	color: #111;
		text-align:center;
		padding-top:12px;
		position:relative;
}

a.lightgreen {
		width:22px;
		height:40px;
		background-color:#61db44;
		float:right;
}

a.lightgreenbig {
		width:66px;
		height:40px;
		background-color:#61db44;
		float:right;
}

a.lightred {
		width:22px;
		height:40px;
		background-color:#fd5260;
		float:right;
}


a.greysmall{
		width:185px;
	   	height:28px;
	   	background-color:#dfe5e6;
	   	display: block;
	   	float:left;
	   	font-size: 18px;
	   	text-decoration: none;
	   	font-weight: bold;
	   	color: #111;
		padding:12px 0 0 15px;
		position:relative;
}

a.greysmall img {
		float:right;
		margin:8px 13px 0 0;
		opacity:0.3;
}

.show_hide {
    	display:none;
}

.slidingDiv {
    	width: 200px;
    	height: 200px;
    	background-color: #99CCFF;
    	margin-top:10px;
    	border-bottom:5px solid #3399FF;
    	float: left;
    	clear: both;
}



a.green{
		width:200px;
	   	height:42px;
	   	background-color:#61db44;
	   	float:left;
	   	font-size: 18px;
	   	text-decoration: none;
	   	font-weight: bold;
	   	color: #fff;
		text-align:center;
		padding-top:24px;
		position:relative;
}
#slika {
	width: 200px;
	height: 28px;
	background-color: #FFDC45;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	text-align: center;
	padding-top: 12px;
	position: absolute;
	top: 50px;
	left: 100px;
}
/* FLIP */
.container {
  width: 200px;
  height: 200px;
  position: relative;
  float: left;
	margin-right: 66px;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
      -ms-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #DDD;
  -webkit-transition: -webkit-transform 0.3s;
     -moz-transition: -moz-transform 0.3s;
      -ms-transition: -ms-transform 0.3s;
       -o-transition: -o-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
      -ms-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card figure {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card .front {

}

.card .back {
  background: white;
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
      -ms-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

#programiranje{
	width: 250px;
	float: left;
}
.wpcf7-list-item {
	display: block;
	font-size: 14px;
	line-height: 26px;
	color: #111;
	clear: left;
}
#programiranje span input {
	width: 14px;
	height: 14px;
	float: left;
}
.wpcf7-list-item-label {
	width: 125px;
	float: left;
	margin-left: 10px;
	line-height: 20px;
}

#programiranje h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#dizajn{
	width: 250px;
	float: left;
	
}

#dizajn span input {
	width: 14px;
	height: 14px;
	float: left;
}
#dizajn h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#fotografija{
	width: 250px;
	float: left;
	
}

#fotografija span input {
	width: 14px;
	height: 14px;
	float: left;
}
#fotografija h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#arhitektura{
	width: 250px;
	float: left;
	margin-top: 10px;
	
}

#arhitektura span input {
	width: 14px;
	height: 14px;
	float: left;
}
#arhitektura h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#sinematografija{
	width: 250px;
	float: left;
	margin-top: 10px;
	
}

#sinematografija span input {
	width: 14px;
	height: 14px;
	float: left;
}
#sinematografija h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#umetnost{
	width: 250px;
	float: left;
	margin-top: 10px;
	
}

#umetnost span input {
	width: 14px;
	height: 14px;
	float: left;
}
#umetnost h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#knjizevnost{
	width: 250px;
	float: left;
	margin-top: 10px;
	
}

#knjizevnost span input {
	width: 14px;
	height: 14px;
	float: left;
}
#knjizevnost h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}
#muzika{
	width: 250px;
	float: left;
	margin-top: 10px;
	font-size: 14px;
	line-height: 26px;
	color: #111;
	
}

#muzika span input {
	width: 14px;
	height: 14px;
	float: left;
}
#muzika h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 9px 0 0 15px;
	margin-bottom: 10px;
}
#animacije{
	width: 250px;
	float: left;
	margin-top: 10px;
}

#animacije span input {
	width: 14px;
	height: 14px;
	float: left;
}
#animacije h4 {
	width: 185px;
	height: 28px;
	background-color: #DFE5E6;
	display: block;
	float: left;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: #111;
	padding: 12px 0 0 15px;
	margin-bottom: 10px;
}

#slicka {
	float: left;
	margin-right: 60px;
	margin-bottom: 30px;
}

.slicica {
	width: 198px;
	height: 198px;	
}

#fotkica {
	float: left;
	width: 200px;
	height: 40px;
	margin-right: 30px;
}

.file-548{
}

#opis {
	float: left;
	width: 185px;
	margin-left: 50px;
}
#opis ul li {
	list-style: square;
	display: list-item;
	text-align: -webkit-match-parent;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 26px;
}
/* CATEGORIES */

#categories{
	margin-top: 66px;
	width: 998px;
}

.singleCategory{
	width: 200px;
	height: 200px;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #DDD;
	margin-right: 66px;
	margin-bottom: 66px;
}

.singleCategory.no-margin{
	margin-right: 0px !important;
}

#content h1 {
	font-family:'N', sans-serif;
	font-size:60px;
	font-weight:bold;
	letter-spacing:0.02em;
	word-spacing:0.1em;
	color:#111;
	margin-bottom: 39px;
}