<style>
	h1{
		font-family: 'N', sans-serif;
		font-size: 60px;
		font-weight: bold;
		letter-spacing: 0.02em;
		word-spacing: 0.1em;
		color: #111;
		text-align: center;
	}

	h2{
		text-align:left !important;
		font-size: 18px !important;
		font-weight: bold;
	}
	
	p{
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 20px;
		margin-bottom: 20px !important;
	}
</style>
		
<div id="content">	  		
	<h1>Pravila dodavanja</h1>
	<div class="submissionwrap">
		<h2>1/ Trebaš imati dozvolu za podnošenje</h2>
		<p>Garantuješ da poseduješ sva prava na sav sadržaj koji podnosiš.<br>
		Sadržaj pre svega uključuje fotografiju, imejl adresu i link do sajta.</p>
		<h2>2/ Privatnost tvoje imejl adrese</h2>
		<p>Vastra! garantuje da će tvoju imejl adresu čuvati na sigurnom</p>
		<p>i da je ni na koji način neće zloupotrebiti.</p>
		<h2>3/ Vastra! ne garantuje</h2>
		<p>Vastra! ne garantuje za link koji podnosiš.</p>
		<h2>4/ Ovlašćenje</h2>
		<p>Podnošenjem sadržaja na Vastru! daješ Vastri! neograničenu<br>
		licencu nad tim sadržajem. Ukoliko Vastra! smatra da je saržaj<br>
		ili neki deo sadržaja neprikladam, ima pravo da ga skine<br>
		sa sajta ili ne objavi uopšte.</p>
	</div>
</div>