<%= form_for @vastromen, :html => { :multipart => true }, :url => url_for(:controller => 'vastromen', :action => 'create') do |form| %>

	<p class="shortInput">
	<label for="ime">Ime</label>
	<%= text_field(:vastromen, :name) %>
	</p>

	<p class="shortInput">
	<label for="prezime">Prezime</label>
	<%= text_field(:vastromen, :surname) %>
	</p>

	<p class="shortInput no-margin-right">
	<label for="grad">Grad</label>

	</p>
	<div class="clearfix"></div>


	<p class="bigInput">
	<label for="email">Imejl adresa</label>
	<%= text_field(:vastromen, :email) %>
	</p>
	<div class="clearfix"></div>
	<p class="bigInput">
	<label for="linak">Link od tvoje stranice (sajt, blog, neki soušal profil…)</label>
	<%= text_field(:vastromen, :url) %>
	</p>
	<div class="clearfix"></div>

	<div id="slicka" style="margin-top:20px;">
	<img class="slicica" src="/img/png.png" alt"">
	</div>

	<div id="fotkawrap" style="margin-top:20px;">
  	<%= form.file_field :avatar %>
	</div>
	<div  id="opis" style="margin-top:20px;">
	<ul>
	<li>Fotka treba da bude
	kvadratasto kropovana,
	minimalnih dimenzija</li>

	<li>Na fotki budi ti, još bolje
	tvoj portret</li>

	<li>Logoi i ostale grafike
	se neće prihvatati</li>
	</ul>
	<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>


	<div id="programiranje" style="margin-top:10px;">
	<h4>Programiranje</h4>
	<% @programiranje.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>

	<% end %>
	</div>

	<div id="dizajn" style="margin-top:10px;">
	<h4>Dizajn</h4>
	<% @dizajn.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>

	<div id="fotografija" style="margin-top:10px;">
	<h4>Fotografija</h4>
	<% @fotografija.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>
	<div class="clearfix"></div>

	<div id="arhitektura">
	<h4>Arhitektira</h4>
	<% @arhitektura.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>

	<div id="sinematografija">
	<h4>Sinematografija</h4>
	<% @sinematografija.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>

	<div id="umetnost">
	<h4>Umetnost</h4>
	<% @umetnost.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>
	<div class="clearfix"></div>

	<div id="knjizevnost">
	<h4>Pisanje</h4>
	<% @pisanje.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>

	<div id="muzika">
	<h4>Muzika</h4>
	<% @muzika.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>

	<div id="animacije">
	<h4>Animacije</h4>
	<% @animacija.each do |i| %>
		<br />
		<%= check_box_tag i.id, i.name %>
		<%= label_tag i.id, i.name %>
	<% end %>
	</div>
	<div class="clearfix"></div>

	<h2 style="margin-top:30px;">Odaberi najviše 3 veštine u kojima si najbolja/i</h2>


	<p style="margin-top:36px; float:left; clear:both;">Tapom na dugme "Oukej!" se slažem sa <a href="/pravila">pravilima dodavanja</a></p>


  	<p style="margin:11px 0 66px 146px; float:left;"><%= form.submit %></p>
  	<div class="clearfix"></div>

<% end %>
