<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Vastra!</title>
  	<link rel="stylesheet" href="/css/3dtransforms-style.css" media="screen">
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="/js/jquery.dropdownPlain.js"></script>
	<script type="text/javascript" language="javascript" src="/js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.infieldlabel.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.filestyle.mini.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jquery.filestyle.mini.js"></script>
	<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
	<div id="wrapper">

		<!--Header-->
		<div id="nav">
			<a class="logo" href="/"><img src="/img/logo.png" alt="Vastra" /></a>
	        <ul class="dropdown">
	        	<li><a class="borderbottom" href="#">Kategorije <img src="/img/arrow.png" /></a>
					<ul class="sub_menu" style="visibility: hidden;"> 
						<li><a href="/category/programiranje">Hakeri</a></li>
						<li><a href="/category/dizajn">Dizajneri</a></li>
						<li><a href="/category/umetnost">Umetnici</a></li>
						<li><a href="/category/pisanje">Pisci</a></li>
						<li><a href="/category/sinematografija">Sinematografi</a></li>
						<li><a href="/category/fotografija">Fotografi</a></li>
						<li><a href="/category/muzika">Muzičari</a></li>
						<li><a href="/category/animacija">Animatori</a></li>
						<li><a href="/category/arhitektura">Arhitekte</a></li>
					</ul>
				</li>
	        </ul>
	        <a class="vastrogram" href="/vastrogram">Vastrogram</a>
	        <a class="plus" href="/vastromen/new">
	        	<div id="plusv"></div>
	        	<div id="plusu"></div>
	        </a>

	    </div>
		<!--End of Header-->


<%= yield %>

	<!--Footer-->
	<div id="footer">
		<a class="yellow" href="/about">O Vastri</a>
	</div>	
	<!--End of Footer-->
</div>
</body>
</html>
